/* Utility classes */
.nfd-hidden {
    display: none !important;
}

.nfd-visually-hidden {
    visibility: hidden;
}

.nfd-noscroll {
    overflow-y: hidden !important;
}
/* End utility classes */

#nfd-deactivation-survey {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 100000;
}

#nfd-deactivation-survey * {
    box-sizing: border-box;
}

#nfd-deactivation-survey[aria-hidden="true"] {
    display: none;
}

#nfd-deactivation-survey,
.nfd-deactivation-survey__overlay,
.nfd-deactivation-survey__disabled {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.nfd-deactivation-survey__overlay {
    animation: nfd-fade-in 200ms both;
    background-color: rgba(43, 46, 56, 0.9);
}

.nfd-deactivation-survey__disabled {
    z-index: 2;
}

.nfd-deactivation-survey__container {
    animation: nfd-fade-in 400ms 200ms both, nfd-slide-up 400ms 200ms both;
    background-color: white;
    border-radius: 5px;
    color: #3C434A;
    max-height: 80vh;
    max-width: 1024px;
    position: relative;
    width: 80vw;
}

.nfd-deactivation__content {
    align-items: center;
    background-color: #f9f9f6;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.nfd-deactivation-form {
    width: 100%;
}

.nfd-deactivation__header,
.nfd-deactivation__body,
.nfd-deactivation__footer-content,
.nfd-deactivation-fieldset {
    padding: 0 4rem;
    margin: 0 auto;
    max-width: 90%;
}

.nfd-deactivation__header {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.nfd-deactivation__body {
    margin: 1rem auto;
    text-align: left;
    width: 100%;
}

.nfd-deactivation__footer {
    background-color: #fff;
    border-top: 1px solid #dcdcde;
    margin-top: 1rem;
    width: 100%;
}

.nfd-deactivation__footer-content {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.nfd-deactivation__content-title {
    font-size: 2.5rem;
    line-height: 1.1em;
}

.nfd-deactivation__content-subtitle {
    font-size: 1.25rem;
    line-height: 1.25em;
}

.nfd-deactivation__helptext {
    font-size: 1.0rem;
    padding-right: 3rem;
    text-align: left;
}

.nfd-deactivation-survey__content {
    padding: 1.5rem;
}

.nfd-deactivation__card {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 15px #e2e2df;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: left;
    margin: 0 auto 1rem;
    max-width: 100%;
    padding: 1rem 2rem;
    text-align: left;
}

.nfd-deactivation__card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111111;
}

.nfd-deactivation__card-desc {
    color: #000000;
}

.nfd-deactivation-fieldset {
    border-top: 1px solid #dcdcde;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    text-align: left;
    gap: .75rem;
}

.nfd-deactivation-label {
    font-size: 1rem;
    font-weight: 600;
}
.nfd-deactivation-textarea {
    font-size: 1rem;
    padding: .5em;
    min-height: 10vh;
    width: 100%;
}


.nfd-deactivation-survey__container button[aria-label="Close dialog"] {
    border: none;
    background-color: transparent;
    color: #3C434A;
    cursor: pointer;
    font-size: 1.75rem;
    line-height: unset;
    padding: .5rem;
    position: absolute;
    right: 5px;
    top: 5px;
}

.nfd-deactivation-survey__content-header h3 {
    color: #3C434A;
    font-size: 1rem;
    margin: 0 0 .45rem;
}

.nfd-deactivation-survey__content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;
}

.nfd-deactivation-survey__content form label {
    display: inline-block;
    margin-bottom: 8px;
}

.nfd-deactivation-survey__content form textarea {
    border-color: #8B8F94;
    max-height: 150px;
    min-height: 60px;
    padding: 8px;
    width: 100%;
}

.nfd-deactivation-survey__content form textarea::placeholder {
    font-size: 13px;
}

.nfd-deactivation-survey__content-actions {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.nfd-deactivation-survey__content-actions > div {
    align-items: center;
    display: flex;
    gap: .75rem;
}

.nfd-deactivation-survey-action {
    background-color: transparent;
    border: none;
    color: #525354;
    cursor: pointer;
    padding: 2px;
    text-decoration: unset;
}

.nfd-deactivation-survey-action:hover {
    text-decoration: underline;
}

.nfd-deactivation-survey-action:disabled {
    opacity: .55;
}

.nfd-deactivation-survey_loading {
    background: #e5ebf0;
    border-radius: 99px;
    display: inline-block;
    height: 4.8px;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.nfd-deactivation-survey_loading::after {
    animation: nfd-submitting 1.5s linear infinite;
    background: #2270B1;
    border-radius: 99px;
    box-sizing: border-box;
    content: '';
    height: 4.8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
}

/* mobile */
@media screen and (max-width: 600px) {
    .nfd-deactivation-survey__container,
    .nfd-deactivation-survey__container[data-step="1"] {
        max-height: 100vh;
        max-width: 100vw;
        width: 100%;
    }

    .nfd-deactivation__header,
    .nfd-deactivation__body,
    .nfd-deactivation__footer-content,
    .nfd-deactivation-fieldset {
        padding: 0 2rem;
    }
}

/* animations */
@keyframes nfd-submitting {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

@keyframes nfd-fade-in {
    from {
        opacity: 0;
    }
}

@keyframes nfd-slide-up {
    from {
        transform: translateY(10%);
    }
}
 
@media (max-width: 600px) {
    .nfd-deactivation-survey__content-actions {
        flex-direction: column;
    }
}
